@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@700&display=swap");
/*font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.1s ease-in;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #2f281e;
}

p {
  color: #544837;
}
h1 {
  color: #2f281e;
  font-size: 44px;
}
h2 {
  color: #2f281e;
  font-size: 36px;
}

h3 {
  font-size: 22px;
  color: #2f281e;
}

.button {
  color: #2f281e;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*======================== header ====================================*/
.header {
  margin-bottom: 70px;
  padding: 20px 0;
  background-color: ##ffffff;
}

.header_content {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
}

.list_item {
  margin-right: 20px;
}

.list_item a:hover {
  color: #ff9900;
}

.list_item:last-child {
  margin-right: 0;
}

.button {
  padding: 15px 25px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: #ffffff;
  font-weight: 600;
}

.button:hover,
.active {
  background-color: #ff9900;
  color: #ffffff;
}

.active:hover {
  background-color: #ffffff;
  color: #ff9900;
}
.header_button {
  margin-right: 30px;
}
/*========================== section =====================================*/
.section {
  padding-bottom: 100px;
}

.content {
  display: flex;
}
.text_part {
  margin-right: 55px;
  max-width: 500px;
  width: 100%;
  padding: 100px 0;
}

.main_title {
  margin-bottom: 30px;
}

.hero_text {
  margin-bottom: 20px;
  font-size: 18px;
}

.image_part {
  max-width: 645px;
  width: 100%;
}

/*=================================== design =============================================*/
.design-content {
  display: flex;
  flex-direction: column;
}

.section-title {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}

.design_list {
  margin: 50px 0 70px;
  display: flex;
}

.design_list__item {
  max-width: 270px;
  width: 100%;
  margin-right: 40px;
}

.design_list__item:last-child {
  margin-right: 0;
}

.design_list__item__icon {
  margin-bottom: 30px;
}

.design_list__item__icon img {
  width: 50px;
  height: 50px;
}
.design_list__item__title {
  margin-bottom: 15px;
}
.design-content .button {
  margin: 0 auto;
}

/*=========================== professional ===================================*/

.professional .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.professional-image {
  width: 562px;
  height: 573px;
  background-image: url(./img/professionals/Image.png);
}

.professional .container .text-part {
  text-align-last: left;
  max-width: 525px;
  width: 100%;
}

.professional .section-title {
  margin-bottom: 20px;
}

.professional .bold {
  margin-bottom: 10px;
}

.professional p:first-child {
  margin-bottom: 0px;
}

.professional p:nth-child(2) {
  margin-bottom: 40px;
}

.professional p {
  margin-bottom: 30px;
}

/* ============================== product ================================== */
.product .opitimisation-image {
  width: 570px;
  height: 520px;
  background-image: url(./img/product/product.png);
}

.manegers__list__icon {
  padding: 10px;
  background-color: #ff9900;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.manegers__list {
  max-width: 505px;
  width: 100%;
}

.manegers__list__item {
  display: flex;
}

.manegers__list p {
  margin-left: 30px;
  margin-bottom: 0;
}

.manegers__list__icon {
  width: 35px;
  height: 35px;
}

.manegers__list__icon svg {
  width: 35px;
  height: 35px;
}
/*============================== opitimisation ==================================*/
.opitimisation-image {
  width: 562px;
  height: 573px;
  background-image: url(./img/marketers/marketers.png);
}
/*============================ footer =======================================*/

.footer {
  padding: 70px;
  border-top: 1px solid #bcd0e5;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer h3 {
  margin-bottom: 30px;
}

.footer_list__item {
  margin-bottom: 15px;
}

.footer__item:last-child {
  display: flex;
  flex-direction: column;
}

.footer__item:last-child input {
  width: 340px;
  height: 50px;
  margin-bottom: 25px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
}
